.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  width: 80%;
  float: right;

  /* border: 2px solid blue */
}

.aside {
  height: 100%;  
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0; 
  background-color:#da5151;
  transition: .5s ease; 
  overflow-x: hidden; 
  padding-top: 20px; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.tabs {
  width: 100%;
  background-color: #db4444;
}

.nav {
  background-color: #f15b5b;
  height: 10%;
  display: flex;
  justify-content: space-evenly;
}

.display {
  /* border: 2px solid rgb(174, 174, 189); */

  margin-top: 80px;
  height: 80vh;
  width: 80vw;

}

.type {
  /* border: 2px solid blue; */
  margin: auto;
  
  background-color: rgb(165, 165, 165);
  width: 70%;
  height: 50%;
  border-radius: 25px;
}