.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  width: 80%;
  float: right
}

.aside {
  height: 100%;  
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0; 
  background-color:#da5151;
  transition: .5s ease; 
  overflow-x: hidden; 
  padding-top: 20px; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.tabs {
  width: 100%;
  background-color: green;
}

.nav {
  background-color: #f15b5b;
  height: 10%;
}

.type {
  margin: auto;
  background-color: white;
  width: 70%
}